.d-flex {
    display: flex;
    gap: 10px;
    
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-danger {
    background-color: #dc3545; 
    border-color: #dc3545;
  }
  
  .btn-warning {
    background-color: #ffc107; 
    border-color: #ffc107;
  }
  
  button {
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
  }
  
  button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
  }
  